{% load news_extras %}
{# Одно поле формы. Параметр: field #}
{% with widget=field.field.widget.input_type %}
<div class="field{% if widget == 'checkbox' %} field--checkbox{% endif %}">
    <label class="field-label" for="{{ field.id_for_label }}">{{ field.label }}</label>

    {% if widget == 'file' %}
        {# Своя разметка вместо стандартной «На данный момент: ... Очистить ... Изменить:» #}
        {% if field.value and field.value.url %}
            <div class="current-file">
                <img src="{{ field.value.url }}" alt="">
                <div class="current-file-info">
                    <a href="{{ field.value.url }}" target="_blank" rel="noopener" class="link">{{ field.value.name|filename }}</a>
                    {% if not field.field.required %}
                        <label class="checkbox-inline">
                            <input type="checkbox" name="{{ field.html_name }}-clear" id="{{ field.html_name }}-clear_id">
                            Удалить
                        </label>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <input type="file" name="{{ field.html_name }}" id="{{ field.id_for_label }}"
               {% if field.field.widget.attrs.accept %}accept="{{ field.field.widget.attrs.accept }}"{% endif %}>
    {% else %}
        {{ field }}
    {% endif %}

    {% if field.help_text %}
        <div class="field-help" id="{{ field.auto_id }}_helptext">{{ field.help_text|safe }}</div>
    {% endif %}
    {% if field.errors %}
        <div class="field-errors">{{ field.errors }}</div>
    {% endif %}
</div>
{% endwith %}
