{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}{{ news.title|censor }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">{{ news.title|censor }}</h1>
            <p class="card-text"><small class="text-muted">📅 {{ news.created_at|date:'d.m.Y' }}</small></p>
            <p class="card-text mt-3">{{ news.text|censor|linebreaks }}</p>
            <a href="{% url 'news_list' %}" class="btn btn-secondary mt-3">← Назад</a>
        </div>
    </div>
{% endblock %}