{% extends 'flatpages/default.html' %}

{% block title %}
    {% if post.pk %}
        Редактирование
    {% else %}
        Создание
    {% endif %}
    {{ post.post_type }}
{% endblock %}

{% block content %}
    <h1>
        {% if post.pk %}
            Редактирование
        {% else %}
            Создание
        {% endif %}
        {{ post.get_post_type_display }}
    </h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить</button>
    </form>

    <a href="{% url 'news_list' %}">Назад к списку</a>
{% endblock %}