{% extends 'flatpages/default.html' %}

{% block title %}
    {% if post.pk %}Редактирование{% else %}Создание{% endif %}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">
                {% if post.pk %}Редактирование{% else %}Создание{% endif %}
            </h1>
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Сохранить</button>
                <a href="{% url 'news_list' %}" class="btn btn-secondary">Отмена</a>
            </form>
        </div>
    </div>
{% endblock %}